*.suo
*.user
_ReSharper.*

packages
.vs
uploads
logs

/build/
*.suo
*.user
*.sdf
bin/
obj/
Debug/
Release/
*.opensdf
*.tlog
*.VisualState.xml
Version.cs
Version.h
Version.cpp

*.txt




























# Visual Studio cache files
# files ending in .cache can be ignored
*.[Cc]ache
# but keep track of directories ending in .cache
!?*.[Cc]ache/








# Visual Studio 6 build log
*.plg

# Visual Studio 6 workspace options file
*.opt




/SoffaMobileApiV2/Reports
/web.config
/System.Text.Encoding.CodePages.dll
/System.Security.Cryptography.Pkcs.dll
/System.Runtime.CompilerServices.Unsafe.dll
/System.Interactive.Async.dll
/System.Drawing.Common.dll
/System.Composition.TypedParts.dll
/System.Composition.Runtime.dll
/System.Composition.Hosting.dll
/System.Composition.Convention.dll
/System.Composition.AttributedModel.dll
/soffaparkingv2-firebase-adminsdk-z1qsh-5bf9458550.json
/SoffaMobileApiV2.Views.pdb
/SoffaMobileApiV2.Views.dll
/SoffaMobileApiV2.runtimeconfig.json
/SoffaMobileApiV2.pdb
/SoffaMobileApiV2.dll
/SoffaMobileApiV2.deps.json
/Remotion.Linq.dll
/PhoneNumbers.dll
/NuGet.Versioning.dll
/NuGet.RuntimeModel.dll
/NuGet.Repositories.dll
/NuGet.Protocol.Core.v3.dll
/NuGet.Protocol.Core.Types.dll
/NuGet.ProjectModel.dll
/NuGet.Packaging.dll
/NuGet.Packaging.Core.Types.dll
/NuGet.Packaging.Core.dll
/NuGet.LibraryModel.dll
/NuGet.Frameworks.dll
/NuGet.DependencyResolver.Core.dll
/NuGet.Configuration.dll
/NuGet.Common.dll
/NLog.Web.AspNetCore.dll
/NLog.Extensions.Logging.dll
/NLog.dll
/nlog.config
/Microsoft.Win32.SystemEvents.dll
/Microsoft.VisualStudio.Web.CodeGenerators.Mvc.dll
/Microsoft.VisualStudio.Web.CodeGeneration.Utils.dll
/Microsoft.VisualStudio.Web.CodeGeneration.Templating.dll
/Microsoft.VisualStudio.Web.CodeGeneration.EntityFrameworkCore.dll
/Microsoft.VisualStudio.Web.CodeGeneration.dll
/Microsoft.VisualStudio.Web.CodeGeneration.Core.dll
/Microsoft.VisualStudio.Web.CodeGeneration.Contracts.dll
/Microsoft.Extensions.PlatformAbstractions.dll
/Microsoft.EntityFrameworkCore.SqlServer.dll
/Microsoft.EntityFrameworkCore.Relational.dll
/Microsoft.EntityFrameworkCore.dll
/Microsoft.EntityFrameworkCore.Design.dll
/Microsoft.EntityFrameworkCore.Abstractions.dll
/Microsoft.DotNet.ProjectModel.Loader.dll
/Microsoft.DotNet.ProjectModel.dll
/Microsoft.DotNet.Cli.Utils.dll
/Microsoft.CodeAnalysis.Workspaces.dll
/Microsoft.CodeAnalysis.CSharp.Workspaces.dll
/Google.Apis.Drive.v3.dll
/Google.Apis.dll
/Google.Apis.Core.dll
/Google.Apis.Auth.PlatformServices.dll
/Google.Apis.Auth.dll
/EventManager.pdb
/EventManager.dll
/EPPlus.dll
/dotnet-razor-tooling.dll
/dotnet-aspnet-codegenerator-design.dll
/DataLayer.pdb
/DataLayer.dll
/AutoMapper.Extensions.Microsoft.DependencyInjection.dll
/AutoMapper.dll
/appsettings.json
/appsettings.Development.json
/runtimes/win/lib/netcoreapp2.0
/runtimes/unix/lib/netcoreapp2.0
/runtimes/win/lib/netcoreapp2.1
